html,body{
margin: 0;
overflow-x: hidden;
scroll-behavior: smooth;
}
.container{
    display: flex;
}
.container-column{

    display: flex;
    flex-direction: column;
}
.vh100{
    height: 100vh;
}
.flex-center{
    justify-content: center;
    align-items: center;
}
.flex-around{
    justify-content: space-around;
    align-items: center;
}
.top-section{
background-image: url('img/background_top.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
}
.top-section> h1{
white-space: nowrap;
padding: .5em;
font-size: 6em;
color: blueviolet;
font-family: sans-serif;
}
.top-section> .container{
width: 80%;
margin: 3%;
}
.top-section> .container>.item{
color: white;
padding: 1em;
margin: 1em;
}
.top-section> .button{
background-color: #f3ff66;
padding: 1.5em 4.5em;
border-radius: 50px;
cursor: pointer;
text-decoration:none ;
font-weight: 900;
}
.mid-section{
padding: 2em 1em;
}
.bottom-section{
background-image: url('img/background_bot.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: 0 0;
flex-flow: row wrap;
}
.bottom-section> .planet{
background-repeat: no-repeat;
background-size: contain;
background-position: center;
background-color: black;
height: 455px;
width: 455px;
margin: 0 1em;
border-radius: 50%;
}
.planet:nth-of-type(1){
    background-image: url(img/mercury.png);
}.planet:nth-of-type(2){
    background-image: url(img/venus.png);
}.planet:nth-of-type(3){
    background-image: url(img/earth.png);
}.planet:nth-of-type(4){
    background-image: url(img/mars.png);
}.planet:nth-of-type(5){
    background-image: url(img/jupiter.png);
}.planet:nth-of-type(6){
    background-image: url(img/neptune.png);
}
@media(max-width: 1700px) {
    .bottom-section{
        height: auto;
    }
}

@media(max-width:992px) {
    .top-section> h1 {
        font-size: 4em;
    }
    .top-section {
        height: auto;
    }

    }
    @media(max-width:768px) {
        .top-section> h1 {
            font-size: 2.5em;
        }
        .top-section> .container{
            flex-flow: row wrap;
        }
        }